<!DOCTYPE html>
<!--[if lt IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Kangaroo | Dashboard</title>
		<link rel='stylesheet' href='/stylesheets/dash.css'>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>

		
	</head>

	<body>
		<header>
			<div class="container">
				<div id="logo"> INSERTLOGOHERE Enterprise </div>
				<a href="./" id="logout"><i class="fa fa-power-off fa-2x"></i></a>
				<a href="./" id="logout"><i class="fa fa-bars fa-2x"></i></a>
			</div>
		</header>

		<div id="title">DASHBOARD</div>
	</body>
</html>