
<!DOCTYPE html>
<html>
	<head>
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<title>Kangaroo</title>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<link rel='stylesheet' href='/stylesheets/index.css' />
	</head>
	<body>
		<div style="min-width: 960px; margin: 0 auto;">
		<br>
		<br>
		<div style="margin: 0 auto; width: 500px; background: white; text-align: center">
			Welcome to KangarooEnterpise
			<br>
			<a href="./dash">sweg</a>
		</div>
		
		</div></div>
	</body>
</html>
