
<!DOCTYPE html>
<html>
	<head>
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<title>Lineless</title>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<link rel='stylesheet' href='/stylesheets/index.css' />
	</head>
	<body>
		<div style="min-width: 960px; margin: 0 auto;">
		<br>
		<br>
		<h6>Kangaroo</h6>
		<br>
		<br>
		<div class="extendfull" style="background:white;"><div class="descript">
			<p style="font-size:300%;margin-top:0px 0;">Welcome to <b style="margin-top:0px 0;">Lineless</b>, a web app designed to remove <u>all</u> waiting in restaurants and delicatessens.</p>
			<p><b>How does it work?</b></p>
			<ol>
				<li>Find a restaurant that is a partner of Lineless</li>
				<li>Buy the food you want and pay for it</li>
				<li>When the order is almost done, you will receive a text message to notify you</li>
				<li>Pick up your food and enjoy it to go or to stay</li>
			</ol>

			<div style="float:left;width:30em;">
			<p><b>Why use it?</b></p>
			<h1 style="color:#91BB58">Save money</h1>
			<p>Know how much you will spend ahead of time.</p>

			<h1 style="color:#2F7BA6">Spend money easily</h1>
			<p>Using Lineless is much more streamlined and simpler than other ways to pay.</p>

			<h1 style="color:#CDB24A">Secure spending</h1>
			<p>I can totally guarantee that this is super duper secure.</p>
			
			<h1 style="color:#DE3230">Save time</h1>
			<p>Lineless was designed to help you spend more time on the things that matter most.</p>
			</div>
			
			<div style="text-align:right;float:right">
				<br>
				<br>
				<br>
				<br>
				<i class="fa fa-money fa-5x" style="color:#91BB58"></i>
				<br>
				<br>
				<i class="fa fa-thumbs-up fa-5x" style="color:#2F7BA6"></i>
				<br>
				<br>
				<i class="fa fa-lock fa-5x" style="color:#CDB24A"></i>
				<br>
				<br>
				<i class="fa fa-clock-o fa-5x" style="color:#DE3230"></i>
			</div>

			<div style="clear:left;float:center">
				<br>
				<br>
				<h1>Interested?</h1>
				<br>
			</div>
			<div class="image" style="padding-bottom:20px;">
      			<a href="http://100.33.246.220:5000/#/restaurants"><img src="./res/img/rsz_chairs.jpg" alt="Image not found"></a>
				<center><a href="http://0.0.0.0:5000/#/restaurants"><h2>Participating restaurants</h2></a></center>
			</div>
			<!--<span class="image" style="float:right;clear:right;width:20em;">
				<img src="./res/img/rsz_mac.jpg" alt="Image not found">
				<center><h2>Become a participating restaurant</h2></center>
			</span>-->
			<br>
			<br>
			<br>
		</div></div></div>
	</body>
</html>
