
<!DOCTYPE html>
<html>
	<head>
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<title>Kangaroo</title>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<link rel='stylesheet' href='/stylesheets/index.css' />
	</head>
	<body>
		<div style="min-width: 960px; margin: 0 auto;">
		<br>
		<br>
		<h6>Kangaroo</h6>
		
		<div class="extendfull" style="background:white;"><div class="descript">
			<p style="font-size:300%;margin-top:0px 0;">Welcome to <b style="margin-top:0px 0;">Kangaroo</b>, an app designed to make your shopping experience easier.</p>
			<a href="./login">login</a>
			<br>
			<a href="./register">register</a>
		</div></div></div>
	</body>
</html>
