Title:			BrianCh.uk Home Screen Styles v1
Author:			Brian Chuk (brianch.uk)
Copyright: 		2015, Brian Chuk - All rights reserved (you have permission to use it, just tell me :D)
Framework:		Responsive layout based on Less Framework 4 (http://lessframework.com) by Joni Korpi

https://color.adobe.com/Flat-UI-color-theme-2469224/

2C3E50
E74C3C
ECF0F1
3498DB
2980B9


/* RESET STYLES
----------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: inherit;
	font-style: normal;
	vertical-align: baseline;
	background: transparent;
	border: 0;
	outline: 0;
}

/* HTML5 RESETS FOR OLDER BROWSERS */
article, aside, figure, figure img, hgroup, footer, header, nav, section {
	display: block;
}

ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, select { vertical-align: middle; }
a img { border: 0; }
:focus { outline: 0; }
a:hover, a:active { outline: none; }

/* FONT IMPORTS
----------------------------------------------- */



@font-face {
	font-family: museo;
	src: url(./Museo300-Regular.otf);
}

/* GENERAL STYLES
----------------------------------------------- */

html {
	overflow-x: hidden;
	font-family: 'Lato';
}
body { 
	margin: 0; 
	z-index: 1;
	position: relative;
}
a:link {
	font-family: 'Montserrat', sans-serif;
	color: #EA932F;
	text-decoration: none;
}
header {
	background-color: #26292C;
	color: #ffffff;
	height: 7vh;
	line-height: 7vh;
	font-family: museo;
}

/* ----- SELECTION COLORS ----- */
/* ----- LINKS ----- */

/* PAGE STRUCTURE
----------------------------------------------- */
#logo {
	float: left;
	margin-left: 3vw;
}

#logout {
	float: right;
	color: #ffffff;
	margin-right: 3vw;
	line-height: 9vh;
}

#title {
	margin-top: 2vh;
	margin-left: 3vw;
	color: #2D2F32;
	font-family: 'Montserrat', sans-serif;
	font-size: 9vh;
	font-weight: bold;
	float: left;
}

#wrapper {
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}

.subtitle {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 4vh;
	color: #303235;
}

#left {
	width: 450px;
	float: left;
	padding-top: 3vh;
	padding-left: 6vw;
	padding-bottom: 3vh;
}

#right {
	padding-top: 3vh;
	padding-bottom: 3vh;
	float: right;
	width: 850px;
	overflow: hidden;
}